@inject IJSRuntime jsruntime

<button @attributes="AdditionalAttributes" @onclick="OnButtonClickedAsync">Click me!</button>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
 
    [Parameter]
    public EventCallback OnClick { get; set; }
    
    private async Task OnButtonClickedAsync()
    {
        await OnClick.InvokeAsync();
    }
}
