@page "/bookform"
@page "/bookform/{Id:int}"
@using Firka.Models
@using Firka.Services
@inject BookServices BookServices
@inject NavigationManager Navigation

<h3>@(Id == null ? "Új könyv" : "Könyv szerkesztése")</h3>

<EditForm Model="book" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Cím:</label>
        <InputText @bind-Value="book.Title" />
    </div>

    <div>
        <label>Szerző:</label>
        <InputText @bind-Value="book.Author" />
    </div>

    <div>
        <label>Év:</label>
        <InputNumber @bind-Value="book.Year"/>
    </div>

    <div>
        <label>Elérhető:</label>
        <InputCheckbox @bind-Value="book.IsAvailable" />
    </div>

    <button type="submit">Save</button>
    <button type="button" @onclick="Back">Vissza</button>

</EditForm> 


@code {

    [Parameter]
    public int? Id { get; set; }

    private Book book = new Book(0, "", "", 2000, true);

    protected override void OnInitialized()
    {
        if (Id != null)
        {
            book = BookServices.GetBookById(Id.Value);
        }
    }

    private void Save()
    {
        if (Id == null)
        {
            BookServices.AddBook(book);
        }
        else
        {
            BookServices.UpdateBook(book);    
        }
        Navigation.NavigateTo("/books");
    }

    //miért ne lenne egy gomb erre is :D
    private void Back()
    {
        Navigation.NavigateTo("/books");
    }
}
