@page "/IvanDrago"
<h3>IvanDrago</h3>

@code {
    protected override void OnInitialized()
    {
        if (OperatingSystem.IsBrowser())
        {
            throw new Exception("I must break you");
        }
    }
}
