@page "/CodeDemo"
<h3>CodeDemo</h3>

@*Implicit Razor expressions*@
@name

@*Explicit Razor expressions*@
<p>@(DateTime.Now - TimeSpan.FromDays(7))</p>


@{
    void RenderName(string name)
    {
        <p>Name: <strong>@name</strong></p>
    }
    RenderName("Steve Sanderson");
    RenderName("Daniel Roth");
}

@code {
    string name = "Rocket Raccoon";
}
