@page "/TypeParamDemo"
<h3>TypeParamDemo</h3>

<MyList TItem="string" Items="@data" />

<MyList Items="@data2" />
@code {
    private List<string> data = new () { "Apple", "Banana", "Cherry" };
    private List<int> data2 = new() { 42, 73, 1337, 1701, 1138, };


}   

